// reset
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger {
  &:focus {
    outline: none;
  }
}

// typo
body {
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.4);
}

.topic-title {
  font-weight: 400;
}

.courses {
  p {
    font-size: 1.2rem;
  }
}

// sidebar
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333333;
  transition: margin-left 0.4s;

  .logo {
    width: 100px;
  }

  nav {
    height: 100vh;
  }

  .navbar {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      padding: 0.5rem 2rem;

      &:nth-of-type(5) {
        margin-top: auto;
      }

      &:last-of-type {
        margin-bottom: 3rem;
      }
    }

    a {
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// top bar
.top-bar {
  padding: 1rem;
  // border-bottom: 2px solid #333333;
  text-align: center;
  box-shadow: 1px 0 0 2px rgba($color: #000000, $alpha: 0.4);
}

// layout
.container {
  width: calc(90% - 200px);
  max-width: 1000px;
}

main {
  margin-left: 200px;
  transition: margin-left 0.4s;

  header {
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
}

.first-topic {
  height: 60vh;
}

// topics
.course-exam {
  color: tomato;
}

// helpers
.active {
  border-left: 5px solid tomato;
  border-right: 5px solid tomato;
}

.hide-sidebar {
  margin-left: -200px;
}

.show-main {
  margin-left: 0;
}

.topic-progress {
  position: relative;

  .text-progress {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  // progress circle
  .round-progress {
    fill: none;
    stroke: #29d;
    stroke-width: 5;
    stroke-dasharray: 1000;
  }

  .svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
  }
}
